.darkblue {
    color: rgb(14, 80, 95);
}

.blue {
    color: rgb(48, 181, 221);
}

.mediumblue {
    color:rgb(62, 156,180)
}
.mediumdarkblue{
    color: rgb(32, 128, 141);
}

.clearblue {
    color: rgb(0, 200, 150);
}

img {
    width: 50rem;
    margin-left: auto ;
    margin-right: auto;
}